 div{
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  border-radius:12px;
}
.animate{
  -webkit-animation-duration: 2s; 
  animation-name: example; 
}
@-webkit-keyframes example {
  0%   {background-color:green; left:0px; top:0px;}
  25%  {background-color:green; left:200px; top:0px;}  
}
.btn {
  background-color: #ddd;
  border-radius:12px;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #3e8e41;
  color: white;
}
